:root {
  --color-light: #eee;
  --color-dark: #333;
}

body {
  margin: 0;
  background-color: var(--color-light);
  color: var(--color-dark);
}

* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
