html,
body {
  height: 100%;
}

body {
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;

  /* Prevent selection or dragging */
  user-select: none;
  -webkit-user-drag: none;

  /* Native font stack */
  font-family: BlinkMacSystemFont, Cantarell, Arial, sans-serif,
    "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";
  line-height: 1;
}

/* Ensure all FA icons are square */
.svg-inline--fa {
  width: 1em !important;
}
