<!DOCTYPE html>
<html lang="<%= attributes.html.lang %>">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./App.min.css" />
    <link
      rel="stylesheet"
      href="../node_modules/@fortawesome/fontawesome-svg-core/styles.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/overlayscrollbars/css/OverlayScrollbars.min.css"
    />
  </head>
  <body>
    <div id="app"></div>
    <div id="spinner"><%- spinner %></div>
    <script>
      if (nw.App.argv.includes("--devtools")) {
        require("react-devtools");
        nw.Window.get().showDevTools();
      }
    </script>
    <script src="./App.js"></script>
  </body>
</html>
